<app-header></app-header>
<div class="container">
  <div cdkDropListGroup class="grid">
    <div
      *ngFor="let dragDropColumn of dragDropColumns; let i = index"
      [className]="addClass(i)">

      <div class="container--mini">
        <h2>{{ dragDropColumn.name | uppercase  }}</h2>

        <div
          cdkDropList
          [cdkDropListData]="dragDropColumn.list"
          class="tasks"
          (cdkDropListDropped)="drop($event)">
          <div
            class="tasks--task"
            *ngFor="let item of dragDropColumn.list"
            cdkDrag
          >{{ item }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
