.grid {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);


  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {

        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }

    @for $span from 1 to 12 {

      &--span-#{$span} {
        grid-column: span $span;
      }
    }
  }
}

